/*  your css code here. If applicable */
.container{
	alignment:center;
	padding:10px;
	background:#f5f5f5;
	border:5px solid black;
	border-radius:50px;
	width:400px;
	height:150px;
	margin:70px;
	padding:20px;
}
.green{
	alignment:center;
	box-sizing:content-box;
	text-align:center;
	float:left;
	border-radius:100px;
	background:green;
	display:grid;
	width:100px;
	height:100px;
	
}
.yellow{
	alignment:center;
	box-sizing:border-box;
	text-align:center;
	border-radius:100px;
	background:yellow;
	display:grid;
	width:100px;
	float:center;
	height:100px;
	
}
.red{
	box-sizing:content-box;
	border-radius:100px;
	background:red;
	display:grid;
	float:right;
	width:100px;
	height:100px;
	float:right;

	
}